<div class="art-hero">

  <div class="grid">
  <%= image_tag "whats-going-on.png", class:"art-logo", alt:"Whats Going on?!" %>

      <% if current_user %>
      <%= link_to 'Logout', signout_path, class: 'btn btn-success art-logout' %>
      <% end %>

      <p class="tag">
        <% if params[:param] == "1" %>
          <%= link_to 'World', '/articles?param=1', class:"color active" %> /
        <% else %>
          <%= link_to 'World', '/articles?param=1', class:"color" %> /
        <% end %>

        <% if params[:param] == "23424977" %>
          <%= link_to 'United States', '/articles?param=23424977', class:"color active" %> /
        <% elsif params[:param] == nil %>
          <%= link_to 'United States', '/articles?param=23424977', class:"color active" %> /
        <% else %>
          <%= link_to 'United States', '/articles?param=23424977', class:"color" %> /
        <% end %>

        <% if params[:param] == "2391279" %>
          <%= link_to 'Denver, CO', '/articles?param=2391279', class:"color active" %>
        <% else %>
          <%= link_to 'Denver, CO', '/articles?param=2391279', class:"color" %>
        <% end %>
    </p>
</div>

</div>
<div class="container">

<% @tfetcher.human(@woeid).each do |tweet| %>
<%# @faketweets.each do |tweet| %>
  <% unless @nprfetcher.title_url(tweet[:search_term]).nil? %>
    <div class="col-4-12">
      <div class="big-box">
        <p class="hashtag"><%= image_tag "twitter-icon.png", class:"twit" %> <%= "#{tweet[:tag]}" %></p>

        <% @cat = @nprfetcher.title_url(tweet[:search_term])%>

        <div class="small-img-box">
          <% unless @cat[:img].nil? %>
            <%= link_to image_tag(@cat[:img], class: "img-sm-adj"), @cat[:url], :target => "_blank" %>
          <% end %>
        </div>

        <div class="small-box-txt">
          <h1><%= link_to @cat[:title], @cat[:url], class:"title" %></h1>
          <!-- <p class="tbox">Abunch of text that gets pulled in from cool things that we did as a group. This text will
          disapear here in a minute</p> -->
          <div class="more-articles"
          <p class="more"><%= link_to article_path(tag: tweet[:tag], search_term: tweet[:search_term]) do %>
             <%= image_tag('eye-con.png', class:"twit-sesh") %> See More Articles
          <% end %></p>
          </div>
        </div>

        <div class="small-box"></div>

        <div class="img-box">
          <% unless @cat[:img].nil? %>
            <%= link_to image_tag(@cat[:img], class: "img-adj"), @cat[:url], :target => "_blank" %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>
</div>


<footer>
  <div class="container">
    <hr>
    <ul>

    <div class="col-2-12">
      <%= image_tag "whats-going-on.png", class:"foot-logo", alt:"Whats Going on?!" %>
    </div>
      <li class="col-2.5-12 f-right">&copy; <%= Time.now.year %> WHAT'S GOING ON?!</li>
    </ul>
  </div>
</footer>
