<div class="art-hero">

  <div class="grid">
  <%= image_tag "whats-going-on.png", class:"art-logo", alt:"Whats Going on?!" %>
  </div>

  <div class="grid">
  <div class="col-2-12 center">
      <% unless current_user %>
      <%= link_to 'Login with Twitter', '/auth/twitter', class: 'btn btn-success art-logo' %>
      <% else %>
      <h1> Welcome <%= current_user.name %> ! </h1>
      <%= link_to 'Logout', signout_path, class: 'btn btn-success' %>
      <% end %>
    </div>
</div>

</div>

<div class="container">

<%# @tfetcher.human.each do |tweet| %>
<% @faketweets.each do |tweet| %>
  <% unless @nprfetcher.title_url(tweet[:search_term]).nil? %>
    <div class="col-4-12">
      <div class="big-box">

        <p class="hashtag"><%= "#{tweet[:tag]}" %></p>

        <% @cat = @nprfetcher.title_url(tweet[:search_term])%>

        <div class="small-img-box">
          <% unless @cat[:img].nil? %>
            <%= image_tag(@cat[:img], class: "img-sm-adj") %>
          <% end %>
        </div>

        <div class="small-box-txt">
          <h1><%= link_to @cat[:title], @cat[:url], class:"title" %></h1>
          <!-- <p class="tbox">Abunch of text that gets pulled in from cool things that we did as a group. This text will
          disapear here in a minute</p> -->
          <div class="more-articles"
          <p class="more"><%= link_to "Click for more articles", article_path(tag: tweet[:tag], search_term: tweet[:search_term]) %></p>
          </div>
        </div>

        <div class="small-box"></div>

        <div class="img-box">
          <% unless @cat[:img].nil? %>
            <%= image_tag(@cat[:img], class: "img-adj") %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>

  <%# @tfetcher.client.trends(23424977).each do |trend| %>
  <%# trend[:name] %>
  <%# end %>
  <%# end %>


</div>
