
<div class = "row">
<div class="col-lg-1 col-centered">
<% unless current_user %>
<%= link_to 'Login with Twitter', '/auth/twitter', class: 'btn btn-success' %>
<% else %>
<h1> Welcome <%= current_user.name %> ! </h1>

<%= link_to 'Logout', signout_path, class: 'btn btn-success' %>
<% @fetcher.titles_urls("africa").each do |cat| %>
<%= cat[:title] %><br>
<%= cat[:url] %><br>
<%= cat[:img] %><br>
<% end %>
<% end %>
</div>
</div>
</div>
