
<div class = "row">
  <div class="col-lg-1 col-centered">
    <% unless current_user %>
    <%= link_to 'Login with Twitter', '/auth/twitter', class: 'btn btn-success' %>
    <% else %>
    <h1> Welcome <%= current_user.name %> ! </h1>
    <%= link_to 'Logout', signout_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<%# @tfetcher.human.each do |tweet| %>
<% @faketweets.each do |tweet| %>

  <% unless @nprfetcher.titles_urls(tweet[:search_term]).nil? %>
  <%= "This is a TWEET--> #{tweet[:tag]}" %><br>
  <% @cat = @nprfetcher.title_url(tweet[:search_term])%>

  <%= @cat[:title] %><br>
  <%= @cat[:url] %><br><br>
  <%# unless cat[:img].nil? %>
  <%# image_tag(cat[:img], class: "img-responsive") %>
  <%# end %>
  <% end %>
  <% end %>

  <%# @tfetcher.client.trends(23424977).each do |trend| %>
  <%# trend[:name] %>
  <%# end %>
  <%# end %>
