<div class="art-hero">

  <div class="grid">
  <%= image_tag "whats-going-on.png", class:"art-logo", alt:"Whats Going on?!" %>

      <% if current_user %>
      <%= link_to 'Logout', signout_path, class: 'btn btn-success art-logout' %>
      <% end %>
      <p class="tag">
        <%= image_tag "twitter-icon.png", class:"twit" %> <%= params['tag'] %>
      </p>
    </div>
</div>

<div class="container">

<% @nprfetcher.titles_urls(params['search_term']).map do |cat| %>
<div class="col-6-12">
  <div class="big-box-show">

    <div class="col-6-12">
      <%= link_to cat[:title], cat[:url], class:"title-show", :target => "_blank"  %>
      <div class = "img-box">
        <% unless cat[:img].nil? %>
        <%= image_tag(cat[:img], class: "img-adj-show") %>
        <% end %>
      </div>
    </div>

    <div class="col-6-12">
      <div class = 'show-small-box-txt'>
        <%= truncate cat[:des].html_safe, length: 200 %>
      </div>
      <div class="show-small-box"></div>
    </div>

  </div>
</div>
<% end %>

</div>

<footer>
  <div class="container">
    <hr>
    <ul>
    <div class="col-2-12">
      <%= image_tag "whats-going-on.png", class:"foot-logo", alt:"Whats Going on?!" %>
    </div>
      <li class="col-2.5-12 f-right">&copy; <%= Time.now.year %> What's going on?!</li>
    </ul>
  </div>
</footer>
